body {
    background-color: #d8cc49;
    font-family: 'Krona One', sans-serif;
}

#info-mark {
    width: 32px;
    height: 32px;
}

#container {
    margin-top: 100px;
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.kebab-image {
    float: left;
    width: 150px;
    height: 150px;
}

#question {
    float: left;
    font-size: 28px;
    margin-top: 30px;
    margin-right: 20px;
}

#metrics {
    float: left;
    min-width: 300px;
    border-style: solid;
    padding: 10px;
}

.metrics-content {
    font-size: 18px;
    margin-top: 5px;
}

#time {
    color: #ff0000;
}

.score {
    color: #008000;
}

#progress-bar {
    margin: 100px auto 0 auto;
    max-width: 1000px;
    min-height: 50px;
    border-style: solid;
    background-color: #ff0000;
}

#percent {
    position: absolute;
    z-index: 10;
    min-width: 100px;
    margin-left: 450px;
    margin-right: 450px;
    text-align: center;
    line-height: 50px;
}

#stuffed-bar {
    width: 0px;
    min-height: 50px;
    background-color: #66ff66;
}

#buy {
    display: block;
    margin: 100px auto 0 auto;
    background-color: #66ff66;
    border: solid;
    padding: 20px 50px;
    text-align: center;
    font-size: 40px;
}

#buy:active {
    background-color: #008000;
}

footer {
    position: fixed;
    bottom: 0;
    font-size: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 5px;
}

footer > a {
    text-decoration: none;
    color: #008000;
}

/*
GAME OVER screen
*/

#game-over, #info {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    text-align: center;
    border-style: solid;
    background-color: #66ff66;
    padding: 30px;
    display: none;
}

#info {
    z-index: 150;
}

#g-o-score {
    line-height: 50px;
}

#reset {
    background-color: #ff0000;
    border-style: solid;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
    font-size: 20px;
}